
/DependencyConcatenator.5.1.ReSharper.user
/DependencyConcatenator.5.9.TeamCity.user
/DependencyConcatenator.suo
/_ReSharper.DependencyConcatenator
/DependencyConcatenator/.svn
/DependencyConcatenator/bin/.svn
/DependencyConcatenator/bin/Debug/.svn
/DependencyConcatenator/bin/Debug/DependencyConcatenator.vshost.exe.config
/DependencyConcatenator/bin/Debug/TestResults
/DependencyConcatenator/bin/Debug/DependencyConcatenator.exe
/DependencyConcatenator/bin/Debug/DependencyConcatenator.exe.config
/DependencyConcatenator/bin/Debug/DependencyConcatenator.pdb
/DependencyConcatenator/bin/Debug/DependencyConcatenator.vshost.exe
/DependencyConcatenator/Properties/.svn
/DependencyConcatenator/bin/Release
/DependencyConcatenator/obj